* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #d6bb9d;
    color: #333;
  }
  
  .banner {
    height: 600px;
    margin: 160px 100px 60px 100px;
    background-image: url('images/beans_0.jpg');
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }

  .banner .p1 {
    font-size: 25px;
    line-height: 1.6;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    gap: 10px;      
    padding: 50px 60px;
    flex-wrap: wrap;
    background-color: white;
  }
  
  .card {
    margin: 20px;
    width: 300px;
    height: 300px;
    position: relative;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .card-button {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    background-color: rgb(195, 97, 35);
    color: black;
    border: none;
    z-index: 1; 
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
  }
  
  .card-button:hover {
    background-color: black;
    color: white;
  }