
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5c49d;
    padding-top: 100px;
}

.main_header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 10px 20px;
    background-color:#8B4513;
    z-index: 1000;
    width: 100%;
    top: 0;
}

#sink {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

#logo {
    height: 70px;
    width: auto;
}

#title {
    font-size: 26px;
    color: white;
}

#nav {
    display: flex;
    gap: 40px;
    margin-right: 60px;
    color: white;
    font-size: 24px;
    list-style: none;
}

#nav a {
    text-decoration: none;
    color: #e3a97a;
    padding: 5px 10px;
}

#nav a:hover {
    color: #ec8135;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #8B4513;
    color: white;
    padding: 5px;
    text-align: center;
}